body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: linear-gradient(to right rgb(112, 95, 72), rgb(214, 113, 113));
  }
  .wrapper{
    background-color: #03121d;
    backdrop-filter: blur(40px);
    border: 1px solid;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.064);
    border-radius: 10px;
    color: white;
    padding: 40px 35px 55px;
    margin: 0 150px;
  }
  h1{
    text-align: center;
  }
  form {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  .full-width {
    grid-column: 1 / -1;
  }
  input[type="text"], input[type="email"], input[type="password"], input[type="file"], input[type="tel"], select {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
  }
  .gender-options, .terms {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .gender-options label {
    margin: 0;
  }
  .error {
    color: red;
    font-size: 0.9em;
  }
  button {
    grid-column: 1 / -1;
    padding: 10px;
    background-color: #0078d7;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  button:hover {
    background-color: #005fa3;
  }